form( action="/create",method="post")
	label Title
	input(type="text" name='title',rows="2",cols="10")
	br
	label Text
	textarea(name="text",rows="10",cols="60")
	br
	input(type="submit",value="Create blogpost")