<!-- index.html -->
<html>
  <head>
    <title>Hapi Blog</title>
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">

  	var data = [{
    title: 'My first article',
    text: 'Hello there, this is my first post',
    date: '',
    author: 'per',
    category: 'Food',
    auth_id: 3467 },
    { title: 'My second article',
    text: 'Hello there, this is my second post',
    date: '',
    author: 'per',
    category: 'Food',
    auth_id: 3467 } ]

      // Your code here
      var Container = React.createClass({
        render: function(){
          return (
            <div className="container">
             <Nav/>
             <ContentWrapper data={this.props.data} />
            </div>
            );
        }
      });

      var Nav = React.createClass({
        render: function(){
          return(
            <div className="nav">
           	<nav><a href="/"> Home </a> <a href="/profile">Profile</a> <a href="/create"> Create </a>  <a href="/login">Login</a>  <a href="/signup"> Sign up </a> <a href="/twitter"> Twitter </a>  <a href="/facebook"> Facebook </a> <a href="/logout"> Log out </a> </nav>
            </div>
            );
        }
      });

      var ContentWrapper = React.createClass({
        render: function(){
        	posts = [];
        	data = this.props.data;
        	data.forEach(function(post){
        		posts.push(<div><h3> {post.title}  </h3><p> {post.text}  </p></div>);
        	});

          return (
            <div className="ContentWrapper">
            <p>Your articles:</p>
            {posts}
            </div>
            );
        }
      });

      React.render( <Container data={data} />, document.getElementById('content') );

    </script>
  </body>
</html>