doctype
html( lang="en" )
	head
		title Baking Bootstrap Snippets with Jade
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
	body
		div(class="header col-md-12")
			include ./navbar
		if authenticated
			h1 authenticated
		else
			h1 not authenticated
		if login_page
			include ./login
		if signup_page
			include ./signup
		if profile_page 
			include ./profile
		if create_page
			include ./create
