<!DOCTYPE html>
	<head>   
		<title>App Store Optimsisation - Free Tool | Keyword King</title>
		<meta name="description" content="Get an instant keyword report to improve the App Store Optimisation for your app. No signup needed. It's free and takes less than one minute.">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="robots" content="index,follow"/>
		<meta name="keywords" content="app store optimisation,app store optimization,free keyword, keyword tool,diagnosis,app,report"/> 
		<link href='https://fonts.googleapis.com/css?family=Khula:400,700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/png"  href="http://iconhandbook.co.uk/favicon.ico">
		<link rel="stylesheet" href="public/css/jquery-ui.css" />
		<link href="public/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="public/css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:100,400,700,900,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<!-- GA script -->

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-61230457-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div class="container col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-sm-10 col-sm-offset-1 col-xs-12">



				<div class="modal fade" id="modal-content1">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">How to fetch your iTunes keywords</h4>
				      </div>
				      

					  <!-- SECOND MODAL -->
				      <div class="modal-body">
				        <p class="modal-text">1. Log in to <a href="https://itunesconnect.apple.com/" target="_blank">iTunes Connect</a></p>
				        <img class="modal_img" src="public/img/itunes_connect_signin.png">
				        <p>2. Click 'My Apps' and choose your selected app</p>
				        <img class="modal_img" src="public/img/itunes_connect_my_apps.png">
				        <p>3. Scroll down to the "Keywords" section</p>
				        <img class="modal_img" src="public/img/keywords.png">
				        <br/>
				        <p>4. Copy all your keywords and paste them into our input field</p>
				        <img class="modal_img" src="public/img/keywords_input_field.png">

				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->


				<div class="modal fade" id="modal-content1">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">How to choose keywod cobinations</h4>
				      </div>
				      

					  <!-- FIRST MODAL -->
				      <div class="modal-body">
				        <p class="modal-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>			    
				        <img class="modal_img" src="public/img/keywords_input_field.png">

				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->




			<div class="row">
				<img class="title-logo" src="public/img/treasure2.jpg">	
			</div>

			<h1 class="title"><span class="title-keyword">Keyword</span><span class="title-king"> King</span></h1>
			<p id="tagline">Identify your iOS app's underperforming keywords in one minute and <span class="subtitle-rule"> rule  the app store.</span></p>
			<div class="app_info">
			<div id="app_icon"></div>
			<h3 id="app_title"></h3>
		</div>
		  			<!-- LOADING WHEEL FOR WHEN THE REPORT IS GENERATED -->
			<div class="spinner">
				  <div class="spinner-container container1">
				    <div class="circle1"></div>
				    <div class="circle2"></div>
				    <div class="circle3"></div>
				    <div class="circle4"></div>
				  </div>
				  <div class="spinner-container container2">
				    <div class="circle1"></div>
				    <div class="circle2"></div>
				    <div class="circle3"></div>
				    <div class="circle4"></div>
				  </div>
				  <div class="spinner-container container3">
				    <div class="circle1"></div>
				    <div class="circle2"></div>
				    <div class="circle3"></div>
				    <div class="circle4"></div>
				  </div>
		  	</div>
			

			<div id="step2"> 
 					<input id="auto_search" class="form-control" placeholder="Enter app name or app ID (Angry Birds, 527979052) ..."> 
<!--				<form action="">
					<input type="radio" name="device" value="iPadSoftware" checked>iPad
					<input type="radio" name="device" value="software">iPhone
				</form>-->
				</div>


			<div id="step0" class="step">
					<center><input type="submit" value="Start" id="step0_button" class="btn-lg"/></btn>
				<div id="argument_div" class="row">
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
						<h3 class="reason-header">STEP 1</h3>
						<p class="reason-text">Enter your app's name </p>
						<span class="col-md-12 col-lg-12 col-sm-12 col-xs-12 reason-span">
							<i class="fa fa-pencil-square-o fa-5 reason-img"></i>	
						</span>	
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">		
						<h3 class="reason-header">STEP 2</h3>
						<p class="reason-text">Copy and paste your keywords</p>	
						<span class="col-md-12 col-lg-12 col-sm-12 col-xs-12 reason-span">
							<i class="fa fa-clipboard reason-img"></i>
						</span>
					</div>

					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">	
						<h3 class="reason-header">STEP 3</h3>
						<p class="reason-text">Receive a FREE instant report</p>
						<span class="col-md-12 col-lg-12 col-sm-12 col-xs-12 reason-span">
							<i class="fa fa-bar-chart reason-img"></i>	
						</span>
					</div>
				</div>
			</div>


<!-- <div id="step1">
	<input type="submit" id="ipad" value="iPad" class="step1_button"/>
	<input type="submit" id="iphone" value="iPhone" class="step1_button" />
</div>
 -->

<div id="step1" class="step">

	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 device-container">
		<input type="image" id="ipad" alt="iPad" name="iPadSoftware" class="step1_button" src="public/img/ipad3.jpg"/>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 device-container">
		<input type="image" id="iphone" name="software" alt="iphone" class="step1_button" src="public/img/iphone2.jpg"/>
	</div>
</div>


	<!-- Homepage Explanation -->
	<div id="help_text">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 homepage-explanation">
				
			</div>

				<p id="why_bother"><a href="http://blog.discofingers.com/blog/2014/10/8/how-to-double-your-downloads-with-keywords-optimization">Why bother doing this?</a></p>
				<br>	
	</div>



			<div id="step3" class="step">
				<h3>Step 1: </h3>Paste in the keywords you've added in iTunes.<a href="#" id="modal-clicker1" ><p class="help">Get instructions!</p></a>
				<form action="/" enctype="multipart/form-data" method="GET" id="single_keyword_form">  
				<input type="text" class="form-control"  id="single_keywords_input" />
				<input type="submit" value="Add!" class="btn button"/>
				<br/>
			</form>
			</div>
			


			<div id="step4" class="step"><h3>Step 2: </h3>Enter important double word combinations. <a href="#" id="modal-clicker2"><p class="help">Hot tips!</p></a>
				<form action="/fetch" enctype="multipart/form-data" method="GET" id="double_keyword_form">  
					<input type="text" class="form-control"  name="double_keywords_input" id="double_keywords_input" />
					<input type="submit" value="Add!" class="btn button" />
					<br/>
				</form>
			</div>
			

			<div id="step5" class="step">
					<input type="text" name="email" id="email_input_field" class="form-control" placeholder="Enter your email..."/>
					<input type="submit" id="email_input_button" class="btn button"/>
			</div>
			<ul id="keyword_container"></ul>
			<div>
			<input type="submit" value="Get diagnosis!" id="diagnose_button" class="btn button">
		</div>
			<table id="rank_list"></table>
			<div>
				<table id="rank_table"></table>
			</div>
			<div id="svg_div" class="col-md-10 col-lg-12 col-sm-10 col-xs-10"></div>

		</div>
		<link rel="stylesheet" href="public/css/table.css" />
		<link rel="stylesheet" href="public/css/jquery-ui.css" />
		<link href="public/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="public/css/style.css" />

		<script src="public/js/jquery.js" charset="utf-8"></script>
		<script src="public/js/jquery-ui.min.js"></script>
		<script src="public/js/bootstrap.min.js"></script>
		<script src="public/js/d3.min.js"></script>
		<script src="public/js/custom.js"></script>
	
	</body>  	

</html>