if authenticated
	a(href="/") Home 
	a(href="/profile") Profile 
	a(href="/create") Create 
	a(href="/logout") Log out
else 
	a(href="/login") Log in 
	a(href="/signup") Sign up 
	a(href="/twitter") Twitter
	a(href="/facebook") Facebook