/* THIS IS STYLE.CSS */


#step0_device {
	
}

/* Hiding Step 1 description and form */
#step1 {
	display: none;
}


/* Hiding Step 2 description and form */
#step2 {
	display: none;
}

#step3{
	display:none;
}

/* Hiding diagnose_button */
#diagnose_button{
	display:none;
}


#title{
	text-align: center;
}

#tagline{
	text-align: center;
}

#why_bother{
	text-align: center;
}

.argument_number{
	text-align: center;
}

#email_form_div{
	display:none;
}

.rendered_keyword {
	display: inline-block;
	margin: 3px;
	border: 1px solid rgb(148, 210, 142);
	border-radius: 3px;
	padding: 4px;
	background-color: rgb(148, 210, 142);
	color: white;
}