/* THIS IS STYLE.CSS */



/*GLOBAL STYLES*/
body {
	background-color: #17baef;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}




/*Homepage*/
.title {
	font-size: 70px;
	text-align: center;
	margin-bottom: 14px;
}

.title-keyword {
	font-weight: 400;
}

.title-logo {
	text-align: center;
	width:38%;
	margin: 0 28%;
	padding-top:14px;
}


.title-king {
	font-weight: 900;
	text-transform: uppercase;
	color:#eebf3f;

}

.subtitle-rule {
	color:#eebf3f;
	font-weight: 700;
}




#step0_device {
	
}

/* Hiding Step 1 description and form */
#step1 {
	display: none;
}


/* Hiding Step 2 description and form */
#step2 {
	display: none;
}

#step3{
	display:none;
}

/* Hiding diagnose_button */
#diagnose_button{
	display:none;
}


#title{
	text-align: center;
}

#tagline{
	text-align: center;
}

#why_bother{
	text-align: center;
}

.argument_number{
	text-align: center;
}

#email_form_div{
	display:none;
}

.rendered_keyword {
	display: inline-block;
	margin: 3px;
	border: 1px solid rgb(148, 210, 142);
	border-radius: 3px;
	padding: 4px;
	background-color: rgb(148, 210, 142);
	color: white;
}


.good{
	color: green;
}

.bad{
	color: red;
}